/* Reset styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Variables */
    --color-background: #000000; /* Black */
    --color-text: #ffd700; /* Gold */
    --color-light-green: hsl(128, 100%, 51%);
    --color-light-green-hover: hsla(60, 100%, 37%, 0.542); /* Lighter yellow */
    --color-black-transparent: rgba(0, 0, 0, 0.7);
    --color-black-overlay: rgba(0, 0, 0, 0.4);
    --color-box-shadow: rgba(0, 0, 0, 0.2);
    
    /* Font Sizes, Bold & family */
    --font-size-small: 0.875rem; /* 14px */
    --font-size-medium: 1rem; /* 16px */
    --font-size-large: 1.125rem; /* 18px */
    --font-weight-bold: 700;
    --font-family-base: 'Arial', sans-serif;

    /* Spacing */
    --spacing-small: 0.525rem; /* 10px */
    --spacing-medium: 1.5rem; /* 20px */
    --spacing-large: 2.5rem; /* 40px */
    --spacing-header-padding: 1rem 0; /* Header padding */

    /* Border Radius */
    --border-radius-small: 5px;
    --border-radius-medium: 10px;

    /* Z-Index Levels */
    --z-index-footer: 100;
    --z-index-content: 2;
    --z-index-map: 10;
    --z-index-header: 1000;
    --z-index-hidden: -1;

    /* Breakpoints */
    --breakpoint-small: 475px;
    --breakpoint-medium: 640px;
    --breakpoint-large: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-xxl: 1200px;
    --breakpoint-xxxl: 1280px;
    --breakpoint-ultrawide: 1536px;
}

/* Ensure body::before is below everything else */
body::before {
   content: "";
    width: 100%;
    height: auto;
    background-color: var(--color-black-overlay);  /* Dark overlay */
    z-index: var(--z-index-hidden);
    position: fixed;  /* Fix the overlay in place */
    }

/* Body styling */
html, body {
    box-sizing: border-box;
    min-height:100vh;
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    background-color: var(--color-background);
    color: var(--color-text);
    overflow-x: hidden;
}

/* Keyframes for menu animations */
@keyframes menuFadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes menuFadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
}


/* Body styles */
body {
            cursor: url('images/cursor.png'), auto;  /*Custom cursor when hovering */
            background-image: url('background/wp8210019.webp'); /* Replace with your image path */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100vw;                       /* Allows the body to adjust to screen width */
            min-height: 100vh;             /* Ensures body covers full viewport height */
            margin: 0;  
            padding: 0;
            overflow-x: hidden;    
            overflow-y: hidden;
            
}
        
/* Header styling */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-header-padding);
    color: #e0c300;
    text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: var(--z-index-header);
    background-color: var(--color-black-transparent);
   
}



/* Common styles for headings and paragraphs */
h1, h2, h3, p {
    
    line-height: 1.2;
}

h1 {
    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    font-family: 'Arial Black', Arial, sans-serif;
    color: var(--color-text);
}

h2 {
    --color-black-overlay: rgba(0, 0, 0, 0.4);
    text-decoration: underline;
    position: relative;
}

h3 {
    font-size: var(--font-weight-bold);
}

p {
    font-size: var(--font-size-medium);
    word-wrap: break-word;
}



.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.header-logo h1 {
    color: var(--color-text);
}

.header-logo img {
    width: 50px;
    height: auto;
     background-color: var(--color-black-transparent);
     transform: rotate(30deg); /* Adjust the degree value as needed */
    transform-origin: center; /* Ensures rotation is around the center */
              
}

 
/* Navigation styling */
nav {
    margin-top: var(--spacing-medium);
    z-index: var(--z-index-content);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav button, a {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    background: none;
    color: var(--color-text);
    text-decoration: underline;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-medium);
    transition: background-color 0.3s, color 0.6s;
}

nav button {
    border-color: var(--color-light-green);
}

nav button:focus {
    outline: 3px solid var(--color-light-green-hover);
}

nav button:hover  {
    background-color: var(--color-light-green-hover);
     
}

a {
    color: var(--color-light-green);
}

a:hover {
    color: var(--color-light-green-hover);
 
}


/* Main content styling */
.main {
    display: flex;
    flex-direction: column; /* Stacks items vertically by default */
    gap: 20px; /* Adds spacing between each section */
    /* align-items: center; Centers each item horizontally */
    padding: var(--spacing-large);
    min-height: 100vh;
    position: relative;
    justify-content: space-evenly;
}


/* About section styling */
.about {
    margin-bottom: var(--spacing-large);
    max-width: 800px; /* Limits the line length for readability */
    padding: 10px;
}


.about-box{
    background-color: var(--color-black-transparent);
    flex-wrap: wrap;
    text-align: start;
    flex-shrink: 1;
    flex-grow: 1;
    padding: var(--spacing-small);
    margin:auto;
}

/* Main image container inside the body */
.flex-container {
    width: auto;
    height: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: var(--spacing-small);
    z-index: var(--z-index-content);
}

.flex-container a {
    margin: var(--spacing-medium);
    padding: var(--spacing-small);
}

.flex-container img {
        margin: auto;
         justify-content: space-evenly;
        width: 100%;        /* Make images responsive within their parent */
        max-width: 140px;   /* Constrain maximum width */
        min-height: 100px;  /* Set a minimum height */
        height: 250px;       /* Preserve aspect ratio */
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        object-fit: cover;  /* Maintain aspect ratio and crop as needed */
        flex: 1 1;
    }
    
 
/* container styling */
.container {
    margin: var(--spacing-small);
    display: flex;
    flex-wrap: wrap;
    height: auto; /* Use auto to fit content */
    max-height: 800px; /* Optional: Limit height to make it a small box */
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    z-index: var(--z-index-content);
    border: 1px solid var(--color-primary); /* Add a border for better visual debugging */
    gap: 1rem;
    overflow: hidden; /* Prevent elements from spilling out of the container */
}
/* Contact section styling */
.contact-us {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    color:var(--color-text);
    background-color: var(--color-black-transparent);
    padding: var(--spacing-small);
    align-items: start;
    text-align:left;
    width: 300px;
    min-height: auto;
    position: relative;
    flex:0;
} 



.social-links {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: start; /* Align links to the left */
    
}


/* Make the links display as a column */
#social-container .instagram-link,
#social-container .facebook-link,
#social-container .trip {
    padding:0.3rem;
    margin: 0.3rem; /* Adds spacing between the links */
    align-items:start; /* Aligns the content to the left */
    justify-content:space-between;
    min-width:60px;

}


.container iframe {
    width: 30%; /* Or 100% for full container width */
    height: auto; /* Maintain aspect ratio */
    flex: 0; /* Flexible width */
    min-width: 300px; /* Adjust according to your design */
  
}





/* Opening hours styling */
.opening-hours {
    margin: var(--spacing-small) ;
    padding: var(--spacing-small);
    color: var(--color-text);
    border: 1px solid var(--color-text);
    display: flex;
    position: relative;
    justify-content:start;
    align-self:start; /* Aligns the opening hours to the right */
}



.opening-hours ul {
    list-style: none;
    }

    
#contact .phone-icon {
    width: 2em;          /* Matches font size */
    height: 2em;         /* Keeps it square */
    margin:auto;
    vertical-align: middle;
}

 /* Bike section */
 #bikes, #hiking {
    padding: var(--spacing-small);
  
    max-width: 1200px;
    min-height: 90vh;
    margin: auto;
}

#bikes h2, #hiking h2 {
    margin: var(--spacing-medium);
    text-align: justify;
}

.hike-trail {
    display: flex;
    margin: auto;
    padding: var(--border-radius-medium);
    flex-direction:row;
    justify-content: center;
    min-height: 50px;
    width:350px;
    border: 2px solid var(--color-text);
    
}

/* Container for carousel images */
.bike-container, .hiking-container {
    padding: auto;
    height: auto;
    flex-wrap: nowrap;
    text-align: start;  
    align-items: center;                 
    position: relative;
    width: 100%;
    background-color: var(--color-black-transparent);
    margin: 1em auto;
    overflow: hidden;
    
}

/* Slideshow container */
.carousel-slide {
    max-width: 900px;
    display: flex;
    background-color: var(--color-black-transparent);
    margin: auto;
    
    position: relative;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    height: auto; /* Allow height to adjust dynamically based on content */
    overflow: hidden; /* Ensure that images do not overflow */
}

.mySlides img {
    width: 50%;
    height: auto;
     border-style:outset;
     border: 2px solid var(--color-text);
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
   
}

/* Hide all slides by default */
.mySlides {
    display: none;
    position: relative;
}

/* Text styling for overlay */
.text {
    color: var(--color-text);
    font-size: var(--font-size-large);
    padding: var(--spacing-medium);
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}
/* Number text */
.numbertext {
    color: var(--color-text);
    font-size: 16px;
    padding: 8px 12px;
    position: relative;
    margin: auto;
    height: auto;
    top: 0;

}


.prev, .next {
    z-index: 10;
    position: absolute;
    top: 50%;
    opacity:0.8;
    transform: translateY(-50%);
    padding: 16px;
    cursor: pointer;
    background-color: hsl(30, 50%, 25%);
    color: var(--color-light-green);
    font-size: 18px;
    user-select: none;
    border-radius: 0 3px 3px 0;
}




.next {
    right: 10px; /* Align to the right */
    border-radius: 0 3px 3px 0;
}

.prev {
    left: 10px; /* Align to the left */
    border-radius: 0 3px 3px 0;
}
 

.prev:hover, .next:hover {
    background-color: var(--color-light-green-hover);
}
 
 
/* Optional: Fade animation */
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}


   /* Footer styling */
.footer {
    display: flex;
    background-color: var(--color-black-transparent);
    color: var(--color-text);
    padding: var(--spacing-small);
    flex-basis: auto;
    justify-content: center; /* Centers content horizontally */
    align-items:center; /* Centers items vertically if needed */
     position: relative;
    margin:  auto;  
     width: 30%; 
    height: auto;
    min-height: auto;
    z-index: var(--z-index-footer);
}
   
/* Additional styles for hidden elements */
 
 
.hidden {
    display: none  ;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.visible {
    opacity: 1;
    pointer-events: auto;
    display: block;
    }
    

/* Menu section */
 
 
#menu-images-container img {
    display: block;
    align-content: center;
    justify-content: center;
    padding: var(--spacing-medium);
    margin: var(--spacing-small);
    height: auto;
    width: 90%;
    max-width: 80%;
    border-radius: var(--border-radius-small);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for zoom and shadow */
}

#menu-images-container img:hover {
    transform: scale(1.2); /* Increases image size by 10% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow for hover effect */
}


/* Additional styles for better control and responsiveness Media Query */

/* For small and medium devices (up to 475px) */
@media (max-width: 475px) {
    #menu-images-container img {
        display: block;
        margin: var(--spacing-small) 0; /* Adjust margins for spacing between images */
        width: 100%; /* Make images larger on smaller screens */
        max-width: none; /* Allow the image to take up more space */
        border-radius: var(--border-radius-small);
         
        transform: scale(1.2); /* Zoom in the image */
        transform-origin: center center; /* Focus the zoom on the center */
    }

    /* Adjust layout for header, nav, and body */
    header, nav, body {
        flex-direction: column;
        font-size: var(--font-size-small);
        align-items: center;
        min-width: 100%;
        min-height: auto;
        background-color: var(--color-black-transparent);
        text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
    }

    /* Adjust flex-container image sizes */
    .flex-container img {
        margin: var(--spacing-small);
        min-width: 20%; /* Ensure the images are not too large */
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 2em;
    }

    #menu {
        padding: var(--spacing-medium); /* Adjust padding for menu */
    }
}

@media (max-width: 768px) {
    .prev, .next {
        font-size: 14px;
        padding: 10px;
    }
    .text {
        font-size: 12px;
    }
    .numbertext {
        font-size: 10px;
    }
}

@media (max-width: 838px){
    .image-container img {
        flex: 1 1 100%; /* Stack images vertically */
        max-width: 100%;
    }
}
 
/* For large and extra-large devices (up to 1024px) */
@media (max-width: 1024px) {
    body, header, nav {
        flex-direction: column;
        font-size: var(--font-size-medium);
        align-items: center;
        justify-content: space-evenly;
    }

    .flex-container img {
        min-width: 30%; /* Adjust image width for larger screens */
        flex-direction: column;
    }

    html, body {
        background-size: cover;
        background-attachment: fixed;
    }

    /* Adjust body padding for larger devices */
    body {
        background-image: url('background/wp8210019.webp');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
}

/* For screens 1200px to 839px */
@media (max-width: 1200px) and (min-width: 840px) {
    body {
        background-image: url('background/wp8210019.webp');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        width: 100%;
    }
}


/* For double extra-large devices (up to 1200px) */
@media (max-width: 1200px) {
    body {
        background-image: url('background/wp8210019.webp');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--spacing-large);
    }

    .container {
        margin: var(--spacing-medium) 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
    }

    footer {
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
    }
}

/* For ultra-wide screens (min-width: 1536px) */
@media (min-width: 1536px) {
    body {
        background-image: url('background/wp8210019.webp');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        width: 100%;
        overflow-y: auto;
    }

    main {
        flex-basis: auto;
    }
}
